extends ../layout

block content
  .container
    h3 Agent 2
    .row
      .col-md-4
        .panel.panel-primary.client-controls
          .panel-body
            p
              strong Status
            #call-status.well.well-sm
              | Connecting to Twilio...
            button.btn.btn-lg.answer-button(disabled="") Answer
             button.btn.btn-lg.call-mute1-button() Mute/UnMute
            button.btn.btn-lg.hangup-button(disabled="", onclick="hangUp()") Hang up
      
        

    
