doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="x-ua-compatible", content="ie=edge")
    title Browser Calls 
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    // HTML5 shim, for IE6-8 support of HTML5 elements
    //if lt IE 9
    script(src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv-printshiv.min.js")
    // CSS
    link(rel="stylesheet", href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css")
    link(rel='stylesheet', type='text/css', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css')
   
  body
    
    block content
    hr
    
    // JavaScript
    script(src="//ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js")
    script(src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js")
    script(src="//sdk.twilio.com/js/client/releases/1.10.1/twilio.js")
    script(src="/js/browser-calls.js")
