extends ../layout

block content

  .container
   .container
    h3 Agent 1
    .row
      .col-md-4
       
        .panel.panel-info.client-controls
          
          .panel-body
           
            #call-status.well.well-sm
              | Connecting to Twilio...
            button.btn.call-support-button(onclick="callSupport()")
              
              |  Call
            button.btn.call-mute-button()
              
              |  Mute/UnMute
            button.btn.hangup-button(disabled="", onclick="hangUp()") Hang up
      
      

